/*span.undefined { color:red; }*/

span.undefined { color: orangeRed; }

.bibtable {width:100%; margin: 0 auto; clear: both;}
.bibchart { width: 100%; height: 100px; margin-bottom: 20px;}
.clear {clear:both;}
.year { 
	position: relative; 
	height: 100%; 
	border-bottom: 1px solid green; /*black; */
	display: inline-block;
}
.yearlabel { position: absolute; bottom: -20px; text-align: center; width: 100%; font-size: smaller;}
.pub { 
	border: 1px solid red; /*white; */
	background-color: #eee; 
}
.inproceedings { background-color: #ccf; }
.article { background-color: #beb; }
.inbook { background-color: #eaa; }
.phdthesis { background-color: #999; }
.unpublished { background-color: #eae; }
.mastersthesis { background-color: #eea; }
.techreport { background-color: #b77; }
.proceedings { background-color: #9494ff; }
.book { background-color: #ed7878; }
.legend .pub { width: 10px; height: 10px; display: inline-block; margin: 0 5px 0 15px;}
.legend { margin-bottom: 24px; text-align: center; width: 100%;}

/*table.display thead th { padding: 3px 18px 3px 10px; border-bottom: 1px solid black; border-top: 1px solid black; font-weight: bold; cursor: pointer; cursor: hand; }
table.display tfoot th { padding: 3px 10px; border-top: 1px solid black; font-weight: bold; }
table.display td { padding: 3px 10px; }
table.display td.center { text-align: center; }
table.display { margin-top: 24px; }*/
/* CY */
#pubTable {
	width: 100%; /* test, 10/16/17 */
	font-size: 15px;
	table-layout: fixed; /*test*/
	font-family: Sans-Serif !important;
}
.ieslTitle {
	font-weight: 600; /*bold; */
	/*color: #881c1c;*/
}

#pubTable.display thead th:hover {
  /*text-shadow: 0px 0px 0.5px #333333;*/
  text-decoration: underline;
}

#pubTable.display thead th { 
	padding: 3px 18px 3px 10px; 
	border-bottom: 1px solid black; 
	border-top: 1px solid black; font-weight: bold; cursor: pointer; cursor: hand; 
}

#pubTable.display th:nth-child(1){
     width: 10% !important;
}

#pubTable.display th:nth-child(2){
     width: 10% !important;
}

#pubTable.display th:nth-child(3){
     width: 80% !important;
}

#pubTable.display tfoot th { 
	padding: 3px 10px; border-top: 1px solid black; 
	font-weight: 600; /*bold;*/
}
#pubTable.display td { 
	padding: 3px 10px; 
    line-height: 140%; /*120%;*/
    text-align: justify;
}
#pubTable.display td.center { text-align: center; }
#pubTable.display { margin-top: 24px; }


input[type=text] {
	margin: auto !important;
	padding: auto !important;
    width: 130px !important;

    background-color: #BBBBBB; /*white;*/
    background-image: url('../images/icon-search-doc.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 50% !important;
    border-color: rgba(136, 28, 28, 0.8) !important;
}

input[type="text"], textarea {
	outline: none !important;
	box-shadow: none !important;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .innericon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon { left: 0px;}
.right-addon { right: 0px;}

/* add padding  */
.left-addon input { padding-left: 30px; }
.right-addon input { padding-right: 30px; }


.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
tr.odd { background-color: #eee; }
tr.even { background-color: white; }
div.hidden { display: none;}
div.bibinfo { 
	/*width: 80%; */
	width: 60%;
	position: fixed; 
	top: 100px; left: 20%; 
	background-color: #bbb; 
	border: 3px solid #fff; 
	padding: 10px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px; 
	/*z-index: 50;*/
	z-index: 50;
}
#shutter { 
	background-color: #555; 
	opacity: 0.7; 
	width: 100%;
	height: 100%; 
	position: fixed; 
	top: 0; 
	left:0; 
	z-index: 20; /*20;*/
}
a.bibclose { 
	background-color: #BBBBBB; 
	border: 3px solid #FFFFFF; 
	color: black; float: left; 
	font-size: 20px; 
	height: 20px; 
	left: -25px; line-height: 20px; padding: 3px; 
	position: relative; text-align: center; text-decoration: none; 
	top: -25px; width: 20px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	-o-border-radius:15px; 
	border-radius:15px; }
div.bibinfo pre { 
	clear:both; 
	padding: 0 3px 2px;
	/*font-family: Monaco, Menlo, Consolas, "Courier New", monospace;*/
	font-family: verdana;
	/*font-size: 12px;*/
	font-size: 15px !important;
	/*color: #333333;*/
	color: black !important;
	background-color: #BBBBBB;
	border: none;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	      border-radius: 3px;
}
