/* CY */


.nav-collapse.collapse .nav > li {
	float:none; 
	display: inline-block;
}

.nav-collapse.collapse .nav {
	/*display: inline-block;*/
	text-align: center; 
	float:none; 
	margin: auto
}
.wrap {
	margin: 0 auto;
	text-align: center;
}
.row ul {
	text-align: justify;
	margin: auto;
}

/* mainly: datasets */
.row div div h3 {
	text-align: left;
	display: inline;
}

.row div h3 a { 		/* sw */
	/*text-decoration: underline;*/
	color: #881c1c;
}

.row div div h3 a {
	/*text-decoration: underline;*/
	color: #881c1c;
}
.row div div h3 span {
	display: inline;
	/*text-align: right;
	float: right;*/
	font-size: 14px; 
	font-weight: normal;
	font-style: italic;
}

.desc {
	text-align: justify;
}

footer {
	text-align: center;
}

footer a {
	color: #881c1c;	
}


.jumbotron
{
	/*
	background: rgba(136,28,28,0.5) url(../images/seal-umass-maroon-transparent-small.png) repeat 0 0;
	
	background: #881c1c url(../images/pattern.png) repeat 0 0;
	*/
	background: #881c1c;
	color: #fff;
	width: 1000px;
	/*margin: 5px;*/
	margin: 15px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron h1
{
	text-align: center;
	font-size: 3em;
	font-weight: 400;
	
	text-shadow: 2px 2px 3px #440e0e;
	/*color: black5;*/
}



/* CY */

/*.people-row {

    margin-top:20px;

}

.people-list {
	margin:0px 0px 0px 0px;
}

.people-list li {
    float:left;
    width: 50%;
	margin:0px 0px 15px 0px;

}

.people-list ul {
	margin:0px 0px 0px 0px;
	//margin-bottom:100px;

}

.people-list .media-body {
	padding-right:20px;

}*/

.crop{
	float:left;
	margin:0px 0px 0px 0px;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	border:0px solid #ccc;
	width:100px;
	height:105px;
}
	/* input values to crop the image: top, right, bottom, left */

.crop img{
	position:absolute;
	top:-0px;
	left:-0px;
}

/*#logo {
    //float:right;
    margin-top: -20px;
    width:100px;
    //vertical-align:baseline;
}
*/
