/* CY */


.nav-collapse.collapse .nav > li {
	float:none; 
	display: inline-block;
}

.nav-collapse.collapse .nav {
	/*display: inline-block;*/
	text-align: center; 
	float:none; 
	margin: auto
}
.wrap {
	margin: 0 auto;
	text-align: center;
}
.row ul {
	text-align: justify;
	margin: auto;
}

/* mainly: datasets */
.row div div h3 {
	text-align: left;
	display: inline;
}

.row div h3 a { 		/* sw */
	/*text-decoration: underline;*/
	color: #881c1c;
}

.row div div h3 a {
	/*text-decoration: underline;*/
	color: #881c1c;
}
.row div div h3 span {
	display: inline;
	/*text-align: right;
	float: right;*/
	font-size: 14px; 
	font-weight: normal;
	font-style: italic;
}

/* mainly: social*/
.im-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

/*.my-animate-fading {animation:fading 8s infinite}
@keyframes fading {0%{opacity:0}5%{opacity:1}95%{opacity:1}100%{opacity:0}}*/
/*@keyframes fading {from{opacity:0.4} to{opacity:1}}*/
/*.my-animate-fading {}*/



.desc {
	text-align: justify;
}

.li-desc {
	list-style-type: none;
}

footer {
	text-align: center;
}

footer a {
	color: #881c1c;	
}

/* mainly: index/home header */
.lab-header {
	/*color: #881c1c;*/
	/*text-shadow: 0.5px 0.5px 0.5px #440e0e;*/ /*1px 1px 1px #440e0e;*/
	
	color: #881c1c;
	text-shadow: 0.5px 0.5px 0.5px #881c1c;
	/*border-bottom: 1px solid #a8431e;*/

	/*padding-top: 10px;
	padding-bottom: 10px;*/
	/*padding: 20px 0 30px;*/
	/*padding: 10px 0 9px;
  	margin: 20px 0 30px;*/
	padding: 20px 0 30px;

	text-align: center;
	margin: auto;

}


/* Home: Group photo as modal/dialog box */
#home-group-photo {
	margin: 20px auto; 
	width:100%; 
	border-radius:5px;
	cursor: pointer;
    transition: 0.3s;
}

#div-home-group-photo > #home-group-photo:hover {
	opacity: 0.7;
	transform: scale(1.1,1.1);
	transition: .3s transform;
	/*z-index: 1;*/
}



/*#home-group-photo: hover {
	opacity: 0.7;
}*/

/* The Modal (background) */
.im-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 80px;/*100px;*/ /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.im-modal-content {
    margin: 0 auto; /*auto;*/
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#im-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.im-modal-content, #im-caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.im-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.im-close:hover,
.im-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* Social: responsive image gallery */



/* CY */

/*.people-row {

    margin-top:20px;

}

.people-list {
	margin:0px 0px 0px 0px;
}

.people-list li {
    float:left;
    width: 50%;
	margin:0px 0px 15px 0px;

}

.people-list ul {
	margin:0px 0px 0px 0px;
	//margin-bottom:100px;

}

.people-list .media-body {
	padding-right:20px;

}*/

.crop{
	float:left;
	margin:0px 0px 0px 0px;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	border:0px solid #ccc;
	width:100px;
	height:105px;
}
	/* input values to crop the image: top, right, bottom, left */

.crop img{
	position:absolute;
	top:-0px;
	left:-0px;
}


