<!-- navigation bar -->
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner" style="margin:0 auto">
        <div class="container" style="margin:0 auto">
            <div class="navbar-header">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a> 
            </div>

            <div class="nav-collapse collapse">
                <ul class="nav" style="text-align: center; float:none; margin: auto">
                    <li class="pull-left tab-Home" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io">UMass IESL</a></li>
                    <li class="tab-News" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/news.html">News</a></li>
                    <!-- <li style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/people.html">People</a></li> -->
                    <li class="dropdown tab-People">
                        <a href="https://chsu5358.github.io/people">People
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <!-- <li><a href="#people-top" class="smoothScroll">Director</a></li> -->
                          <li><a href="#header-dir" class="smoothScroll">Director</a></li>
                          <!-- <li><a href="#ppl-post-top" class="smoothScroll">Postdocs</a></li> -->
                          <li><a href="#header-post" class="smoothScroll">Postdocs</a></li>
                          <!-- <li><a href="#ppl-st-top"  class="smoothScroll">Students</a></li> -->
                          <li><a href="#header-st"  class="smoothScroll">PhD Students</a></li>
                          <li><a href="#header-st-ms"  class="smoothScroll">Masters Students</a></li>
                          <li><a href="#header-st-u"  class="smoothScroll">Undergraduates</a></li>                          
                          <!-- <li><a href="#ppl-staff-top" class="smoothScroll">Staff</a></li> -->
                          <li><a href="#header-staff" class="smoothScroll">Staff</a></li>
                          <li><a href="#header-visit" class="smoothScroll">Visiting Scholars</a></li>
                          <!-- <li><a href="#ppl-alum-top" class="smoothScroll">Alumni</a></li> -->
                          <li><a href="#header-alum" class="smoothScroll">Alumni</a></li>
                        </ul>
                    </li>
                
                    <li  class="tab-Research" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/research.html">Research</a></li>
                    <li  class="tab-Projects" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/projects.html">Projects</a></li>
                    <li  class="tab-Pub" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/pub.html">Publications</a></li>
                    <li  class="tab-Software" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/software.html">Software</a></li>

                    <!-- <li style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/datasets.html">Datasets</a></li> -->
                    <li class="dropdown tab-Datasets">
                        <a href="https://chsu5358.github.io/datasets.html">Datasets
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="https://chsu5358.github.io/data/umasscitationfield" class="smoothScroll">UMass Citation Field Extraction Dataset</a></li>
                          <li><a href="https://chsu5358.github.io/data/wiki-links" class="smoothScroll">Wikilinks Dataset</a></li>
                          <li><a href="https://chsu5358.github.io/data/bibtex" class="smoothScroll">BibTex Dataset</a></li>
                        </ul>
                    </li>

                    <li class="tab-Social" style="float:none; display: inline-block;"><a href="https://chsu5358.github.io/social.html">Social</a></li>
                    <li  class="tab-Wiki" style="float:none; display: inline-block;"><a href="https://sites.google.com/a/iesl.cs.umass.edu/wiki/">Wiki (internal)</a></li>

                </ul>
                
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
