
<html lang="en">
<head>
    {% include header.html %}
    
</head>

<body>

<script src="../js/holder.js"></script>


<div id="nav-placeholder">{% include navbar.html %}</div>


<div id="EMPTY-TOP" style="margin-top:-60px"></div>
<div style="margin-top:60px"></div>

<div class="container">
    <section class="row">
        <div class="span10 offset1">
            <h2 class="page-header"><a href="/datasets" style="color:#881c1c">Datasets</a> ></h2>
        </div>
        

        <div class="span10 offset1">
            <div>
                <h3>UMass Citation Field Extraction Dataset</h3>
            </div>
            <div style="clear:both"></div>
            <p class="desc">
                The UMass citation field extraction dataset provides labels and segments for extracted citations from articles found on arxiv.org. In comparison to the previous standard dataset in citation field extraction, this dataset exceeds four-times more data, supplies detailed nested labels rather than coarse-grained flat labels, and is derived from four different academic fields rather than one.
            </p>

            <p class="desc">
                In May 2012 we collected 5,000 research papers in PDF format from ArXiv.org, comprising 1,250 papers each from its sections on physics, mathematics, computer science and quantitative biology. The papers represent a variety of formats and styles, including journal pre-prints, conference papers and technical reports. Text and layout information were extracted using our custom-improved pdf2text system. Five citations per PDF were then manually extracted from 1200 of those papers, resulting in 6,000 unlabeled citation strings. Of these, 1829 citation strings have been labeled to date.
            </p>

            <p class="desc">
                Each of these citation strings is labeled in a hierarchical manner, demarcating both coarse-grain labeled segments, as well as fine-grain labeled segments within. 
            </p>

            <p class="desc">See our <a href="http://openreview.net/file/8ac51b41-b3b0-46db-85dc-efb9525b93ea.pdf" target="_blank">ICML 2013 PEER workshop paper</a> for more information:</p>

            <ul style="padding-left: 15px">
                <li>Sam Anzaroot, Andrew McCallum</li>
                <li class="li-desc"><a href="http://openreview.net/file/8ac51b41-b3b0-46db-85dc-efb9525b93ea.pdf"><strong>A New Dataset for Fine-Grained Citation Field Extraction</strong></a>
                </li>
                <li class="li-desc">
                ICML Workshop on Peer Reviewing and Publishing Models (<span style="font-weight:bold">PEER</span>), 2013</li>
            </ul>

            <p>
                Please cite this paper if you use this data set in a publication.
            </p>

            <div>
                <h3 style="color:grey">Download</h3>
            </div>
            <p class="desc">
                The dataset is available <a href="./umass-citation.tar.gz">here</a>.
            </p>

        </div>
    </section>

<hr>

<footer id="footer-placeholder">{% include footer.html %}</footer>

</div>

<!-- /container -->
<script src="../js/jquery-latest.js"></script>
<script src="../js/bootstrap.js"></script>
<script>

    /*
    $(function() {
    $('.navbar li a').click(function(event) {
    var a = $(this)
    $('.navbar li').removeClass("active")
    a.parent().addClass("active")
    });

    })
    */

</script>



</body></html>
