
<!-- template from http://mr.cs.ucl.ac.uk/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>UMass IESL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./css/iesl.css" rel="stylesheet">
    
    <style>
        body {
            padding-top: 60px;
          }
        @media (max-width: 979px) {
          body {
            padding-top: 0px !important;
          }
        }
       /* 60px to make the container go all the way to the bottom of the topbar */
        /*body {
        padding-top: 60px;
        }*/
        .ieslEmp {
            font-weight: bold;
            color: #881c1c;
        }
    </style>
    

    <link rel="shortcut icon" href="./images/logo-iesl-32x32-ico.ico" />

</head>

<!-- <body> -->
<!-- CY: to maintain nav bar code in one place -->
<body id="body-Home">

<script src="./js/holder.js"></script>


<!-- CY: to maintain nav bar code in one place -->
<div id="nav-placeholder">{% include navbar.html %}</div>

<!-- <div style="clear:both"></div> -->

<div id="index-top" class="container" >
<!-- CY: center contents -->
    <!-- <div class="lab-header" > -->
    <h1 class="lab-header"> <!-- class="lab-header"> -->
        <img src="./images/logo-iesl-transparent.png" style="width:62px; vertical-align:baseline; margin-right:-0px;"/> <!-- border-radius:5px;" /> -->
        Information Extraction and Synthesis Laboratory
    </h1>
    <!-- </div> -->

    <div id="intro" style="margin-top:-60px"></div>
    <div style="margin-top:60px"></div>
    <section class="row">
        <div class="span6 offset1">
        
            <p class="desc" style="margin-top:1.0em">
            <span class="ieslEmp">Information</span> A collection of facts, relations or events from which conclusions may be drawn. Knowledge that has been gathered or received.
            </p>
            <p class="desc" style="margin-top:-0.7em">
            <span class="ieslEmp">Extraction</span> Obtaining materials in concentrated, usable form from a dilluted, unusable source.
            </p>
            <p class="desc" style="margin-top:-0.7em">
            <span class="ieslEmp">Synthesis</span> The combining of separate elements or substances to form a coherent whole. Reasoning from the general to the particular; logical deduction.
            </p>
            <p class="desc" style="margin-top:-0.7em">
            <span class="ieslEmp">Laboratory</span> An organization performing scientific experimentation and research.
            </p>
            <p class="desc">
            <strong>IESL</strong> aims to dramatically increase our ability to mine actionable knowledge from unstructured text. We are especially interested in information extraction from the Web, understanding the connections between people and between organizations, expert finding, social network analysis, and mining the scientific literature and community. We develop and employ various methods in statistical machine learning, natural language processing and information retrieval. We tend toward probabilistic approaches, graphical models, and Bayesian methods.
            </p>
            <!-- <p style="text-align:center;"><img src="./images/iesl-group-photo.JPG" style="width:80%; border-radius:5px;"/></p> -->
        </div>
    
        <!-- Group photo -->
        <div id="div-home-group-photo" class="span4">
            <img id="home-group-photo" src="./images/iesl-group-photo.jpg" alt="IESL Group, 2016 Retreat"/>
        </div>    
    </section>

<!-- Image modal for group photo -->
<div id="modal-home-group-photo" class="im-modal"><!-- style="margin-top:40px"> -->
  <span class="im-close" style="margin-top:40px">×</span>
  <img class="im-modal-content" id="im-modal-01">
  <div id="im-caption"></div>
</div>

<div id="news" style="margin-top:-20px"></div>
<div style="margin-top:60px"></div>


<section class="row">
    <h2 id="news" class="page-header span10 offset1">Latest News</h2>

    <!-- CY: insert latest news contents from a standalone markdown file  -->
    <div class="span7 offset1" id="latest-news">
      {{ content }}
    </div>

    <!-- Twitter-->
    <!-- <div class="span3" style="padding-top:0px"> -->
    <div class="span3" style="padding-top:0px">
    <a class="twitter-follow-button"
          href="https://twitter.com/andrewmccallum"
          data-size="default"
          data-show-count="default"
          data-show-screen-name="default"
          >Follow @andrewmccallum</a>
    <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/andrewmccallum">Tweets by andrewmccallum</a> 
    <!-- <a class="twitter-follow-button"
              href="https://twitter.com/UMassAmherst"
              data-size="default"
              data-show-screen-name="default"
              >Follow @UMassAmherst</a>
        <a class="twitter-timeline" data-lang="en" data-width="400" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/UMassCS">Tweets by UMassCICS</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    
    </div>

    <!-- Twitter: display format II-->
    <!-- 
    <div class="span10 offset1">
        <div style="float:left;
                width: 25%;
                margin:0px 0px 15px 0px;">
        <a class="twitter-follow-button"
          href="https://twitter.com/andrewmccallum"
          data-size="default"
          data-show-count="false"
          data-show-screen-name="default"
          >Follow @andrewmccallum</a>
            <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/andrewmccallum">Tweets by andrewmccallum</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div style="float:left;
                width: 25%;
                margin:0px 0px 15px 0px;">
            <a class="twitter-follow-button"
              href="https://twitter.com/UMassAmherst"
              data-size="default"
              data-show-screen-name="false"
              >Follow @UMassAmherst</a>
            <a class="twitter-timeline" data-lang="en" data-width="400" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/UMassAmherst">Tweets by UMassAmherst</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div style="float:left;
                width: 25%;
                margin:0px 0px 15px 0px;">
            <a class="twitter-follow-button"
              href="https://twitter.com/UMassCS"
              data-size="default"
              data-show-count="false"
              data-show-screen-name="default"
              >Follow UMassCICS</a>
            <a class="twitter-timeline" data-lang="en" data-width="400" data-height="200" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/UMassCS">Tweets by UMassCICS</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <div style="float:left;
                width: 25%;
                margin:0px 0px 15px 0px;">
            <a class="twitter-follow-button"
              href="https://twitter.com/NipsConference"
              data-size="default"
              data-show-screen-name="false"
              >Follow @NipsConference</a>
        <a class="twitter-timeline" data-width="400" data-height="200" href="https://twitter.com/NipsConference">Tweets by NipsConference</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div> -->

</section>

<hr>
<footer id="footer-placeholder">{% include footer.html %}</footer>


</div>
<!-- /container -->

<script src="./js/jquery-latest.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="./js/bootstrap.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="./js/holder.js"></script>
<!-- CY: add smoothScroll -->

<script type="text/javascript" src="./js/smoothscroll.js"></script>


<!-- CY: load nav bar -->
<!-- <script>
$(function(){
  $("#nav-placeholder").load("navbar.html");
});
</script> -->

<script type="text/javascript" data-sqs-type="imageloader-bootstraper">(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();</script>


<!-- CY: add active class toggle in navbar -->
<script>
    // $(".nav li").on("click", function() {
    //   $(".nav li").removeClass("active");
    //   $(this).addClass("active");
    // });


    // Get the modal
    var modal = document.getElementById('modal-home-group-photo');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('home-group-photo');
    var modalImg = document.getElementById("im-modal-01");
    var captionText = document.getElementById("im-caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("im-close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
        modal.style.display = "none";
    }

    // close modal when esc key is pressed
    document.addEventListener('keyup', function(e) {
        if (e.keyCode == 27) {
            modal.style.display = "none";
        }
    });
</script>


</body>
</html>
