
<html lang="en">
<head>
    {% include header.html %}

</head>

<!-- <body> -->
<!-- CY: to maintain nav bar code in one place -->
<body id="body-Projects">
    
<div id="nav-placeholder">{% include navbar.html %}</div>



<div id="proj-top" style="margin-top:-60px"></div>
<div style="margin-top:60px"></div>

<div class="container">
    <section class="row dataset_title">
        <h2 id="proj-header" class="page-header span10 offset1">Projects</h2>

        <div class="span10 offset1">
            <div>
            {{ content }}
            </div>
        </div>
        
    </section>
    

<hr>
<footer id="footer-placeholder">{% include footer.html %}</footer>


</div>
<!-- /container -->

<script src="/js/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- CY: add smoothScroll -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/smoothscroll.js"></script>
 -->
<!-- CY: add active class toggle in navbar -->
<!-- <script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script> -->


</body>
</html>
