
<html lang="en">
<head>
    {% include header.html %}
    
</head>

<!-- <body> -->
<!-- CY: to maintain nav bar code in one place -->
<body id="body-Projects">
    
<div id="nav-placeholder">{% include navbar.html %}</div>



<div id="proj-top" style="margin-top:-60px"></div>
<div style="margin-top:60px"></div>

<div class="container">
    <section class="row dataset_title">
        <h2 id="proj-header" class="page-header span10 offset1">Projects</h2>

        <div class="span10 offset1">


        <div>
            <h3>Google Open Peer Review Project</h3>
        </div>
        <div style="clear:both"></div>
        <p class="desc"><a href="https://openreview.net/about">OpenReview</a>
        <br/><br/>
        </p>



        <div>
            <h3>Data Mining and Analytics Accelerating Realization of Advanced Materials</h3>
        </div>
        <div style="clear:both"></div>
        <p class="desc">Collaboration with <a href="http://olivetti.mit.edu/">MIT Olivetti Group</a>.  <br />Project page <a href="http://olivetti.mit.edu/research-project-2/">here</a>.
        <br/><br/>
        </p>



        <div>
            <h3>Natural Language Relation Extraction and Implicature through "Universal Schema" using Embeddings</h3>
        </div>
        <div style="clear:both"></div>
        <p class="desc"><a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1514053">NSF Grant</a>
        <br />Project page <a href="/projects/NSF_USchema.html">here</a>
        <br/><br/>
        </p>
        
        
        <div>
            <h3>Toward a Graph based on Vector Embeddings of Semantic Types</h3>
        </div>
        <div style="clear:both"></div>
        <p class="desc">Google Faculty Award
        <br/><br/>
        </p>
        
        
        <div>
            <h3>Building Accurate Knowledge Bases by Reasoning with Uncertainty about Information Extraction and Crowd-sourced Edits</h3>
        </div>
        <div style="clear:both"></div>
        <p class="desc">Google Award
        <br/><br/>
        </p>
        

        </div>
        
    </section>
    

<hr>
<footer id="footer-placeholder">{% include footer.html %}</footer>


</div>
<!-- /container -->

<script src="/js/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- CY: add smoothScroll -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/smoothscroll.js"></script>
 -->
<!-- CY: add active class toggle in navbar -->
<!-- <script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script> -->


</body>
</html>
