
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>UMass IESL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./css/iesl.css" rel="stylesheet">

    <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <link rel="shortcut icon" href="./images/logo-iesl-32x32-ico.ico" />
</head>

<!-- <body> -->
<!-- CY: to maintain nav bar code in one place -->
<body id="body-Research">
    
<div id="nav-placeholder">{% include navbar.html %}</div>


<div id="research-top" style="margin-top:-60px"></div>
<div style="margin-top:60px"></div>

<div class="container">
    <section class="row dataset_title">
        <h2 id="research-header" class="page-header span10 offset1">Research</h2>

        {{ content }}


    </section>
    

<hr>

<footer id="footer-placeholder">{% include footer.html %}</footer>


</div>
<!-- /container -->

<script src="./js/jquery-latest.js"></script>
<script src="./js/bootstrap.js"></script>

<!-- CY: add smoothScroll -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/smoothscroll.js"></script>
 -->
<!-- CY: add active class toggle in navbar -->
<!-- <script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script> -->


</body>
</html>
