
<html lang="en">
<head>
    {% include header.html %}
    
</head>

<!-- <body> -->
<!-- CY: to maintain nav bar code in one place -->
<body id="body-Software">
    
<div id="nav-placeholder">{% include navbar.html %}</div>



<div id="software-top" style="margin-top:-60px"></div>
<div style="margin-top:60px"></div>

<div class="container">
    <section class="row">
        <h2 id="software" class="page-header span10 offset1">Software</h2>

        <div class="span10 offset1">
            <div>
            <h3><a name="TOC-Factorie" href="http://factorie.cs.umass.edu">Factorie</a></h3>
            </div>
            <p class="desc">
                <b>FACTORIE</b> is a toolkit for deployable probabilistic modeling, implemented as a software library in <a href="http://www.scala-lang.org/" rel="nofollow">Scala</a>. It provides its users with a succinct language for creating relational factor graphs, estimating parameters and performing inference.
            </p>

            <div>
            <h3><a name="TOC-Mallet" href="http://mallet.cs.umass.edu/">Mallet</a></h3>
            </div>
            <p class="desc">
                <b>MALLET</b> is a Java toolkit for machine learning applied to natural language. It provides facilities for document classification, information extraction, part-of-speech tagging, noun phrase segmentation, general finite state transducers and classification, and much more -- all designed to be extremely efficient for large data and feature sets.
            </p>
        </div>

    </section>

<hr>
<footer id="footer-placeholder">{% include footer.html %}</footer>

</div>

<!-- /container -->
<script src="/js/jquery-latest.js"></script>
<script src="/js/bootstrap.js"></script>


</body></html>
